<style>
    #about {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    #about .image-container {
      aspect-ratio: 1 / 1;
      height: 100%;
      overflow: hidden;
    }
    #about .image-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
    /* Mobile alternative */
    @media (max-width: 768px) {
      #about {
        display: block;
      }
      #about .image-container {
        width: 100%;
        aspect-ratio: auto;
        margin-bottom: 1rem;
      }
      #about .image-container img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  </style>
  
  <section id="about">
    <div class="content">
      <h2>Votre séjour, au coeur de la nature</h2>
      <p>Séjournez en pleine nature, au Chalet Le Renard, où vous pourrez contempler la vie sauvage à même la cour. C'est l’endroit parfait pour relaxer et se ressourcer.</p>
      <p>Vous aimerez:</p>
      <ul>
        <li>Sa vaste cour arrière, donnant sur le Mont Orford</li>
        <li>Son look moderne, inspiré des années 70 et nouvellement rénové</li>
        <li>Son chaleureux salon avec foyer au bois</li>
        <li>Son spa privé</li>
        <li>Sa localisation à quelques minutes du Mont Orford et de Magog</li>
        <li>Son internet ultra haute vitesse</li>
        <li>Son espace de travail dédié</li>
        <li>Sa borne pour véhicule électrique</li>
      </ul>
    </div>
    <div class="image-container">
      <img src="gallery/95.avif" alt="image du spa du chalet le renard et de la forêt">
    </div>
  </section>
  