<section id="about">
    <h2>Un séjour au coeur de la nature</h2>
    <p>Séjournez en pleine nature, au Chalet Le Renard, où vous pourrez contempler la vie sauvage à même la cour. C'est l’endroit parfait pour relaxer et se ressourcer.</p>
    <p>Vous aimerez:</p>
    <ul>
        <li>Sa vaste cour arrière, donnant sur le Mont Orford</li>
        <li>Son look moderne, inspiré des années 70 et nouvellement rénové</li>
        <li>Son chaleureux salon avec foyer au bois</li>
        <li>Son spa privé</li>
        <li>Sa localisation à quelques minutes du Mont Orford et de Magog</li>
        <li>Son internet ultra haute vitesse</li>
        <li>Son espace de travail dédié</li>
        <li>Sa borne pour véhicule électrique</li>
    </ul>
</section>
