function checkDates() {
  const checkin = document.getElementById("checkin").value;
  const checkout = document.getElementById("checkout").value;
  const guests = document.getElementById("guests").value;
  const dogSelect = document.getElementById("dog");
  const dogError = document.getElementById("dogError");
  const dogValue = dogSelect.value;

  dogError.style.display = "none";

  if (!checkin || !checkout) {
    resetButton("Réserver");
    return;
  }

  if (!dogValue) {
    disableButton("Sélection requise pour l'option chien");
    dogError.style.display = "block";
    return;
  }

  const dogChecked = (dogValue === "oui");

  const checkinDate = new Date(checkin + "T00:00:00");
  const checkoutDate = new Date(checkout + "T00:00:00");

  if (checkinDate.getDay() === 6) {
    disableButton("Le jour d'arrivée ne peut être le samedi");
    return;
  }

  if (checkoutDate.getDay() === 6) {
    disableButton("Le jour de départ ne peut être le samedi");
    return;
  }

  const nights = dateDiff(checkin, checkout);
  const stayDates = getStayDates(checkin, checkout);

  const stayPrices = latestJsonData.filter(day => stayDates.includes(day.Date) && day.Available === "True");

  if (stayPrices.length !== nights) {
    disableButton("Dates non disponibles");
    return;
  }

  const maxMinStay = Math.max(...stayPrices.map(day => parseInt(day["Min Stay"])));
  if (nights < maxMinStay) {
    disableButton(`Minimum ${maxMinStay} nuits`);
    return;
  }

  const totalNightlyRate = stayPrices.reduce((total, day) => total + parseInt(day["Final Price"]), 0);
  const cleaningFee = nights >= 3 ? 150 : 140;
  const sixthGuestFee = parseInt(guests) === 6 ? 20 * nights : 0;
  const dogFee = dogChecked ? 75 : 0;
  const totalPreTax = totalNightlyRate + cleaningFee + sixthGuestFee + dogFee;

  currentTotalPreTax = totalPreTax;

  searchButton.disabled = false;
  searchButton.classList.add("active");
  searchButton.style.backgroundColor = "#28a745";
  searchButton.style.color = "#fff";
  searchButton.style.cursor = "pointer";
  searchButton.innerText = `Réserver pour ${totalPreTax.toFixed(2)} $`;
}
